 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row ourView">
                    <h3 class="col-lg-12">
                        We’re a small, perfectly formed, friendly team of creative web design professionals specialising in website design, development, branding &amp; SEO.
                    </h3>
            </div>
            <div class="row">
                <div class="col-lg-3 ">
                    <p>Our first task is to get to know you, your business and your goals, intimately. We then start sketching our ideas, creating wireframes and planning the whole project from concept to completion.</p>
                </div>
                <div class="col-lg-3">
                    <p>You’re happy with the design plan and we’re happy to bring out our best crayons. Through design iteration, we turn those initial mock-ups &amp; wireframes into beautiful designs, keeping you in the loop along the way.</p>
                </div>
                <div class="col-lg-3 ">
                    <p>Pixel perfect design. It’s now time to add a dash of code using the latest technologies. HTML5, CSS3, jQuery &amp; Responsive design, your new site not only looks fantastic, it functions like a well-oiled machine.</p>
                </div>
                <div class="col-lg-3">
                    <p>What use is a beautiful, perfectly functioning website if no-one can see it? Using clever on-site SEO, our mission is to progressively enhance and increase your search engine ranking &amp; organic position.</p>
                </div>
               <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    &lt;!&ndash;<a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>&ndash;&gt;
                </div>-->
            </div>
        </div>
    </section>